<img width="300" alt="Angular Logo" src="../assets/profile-pic.jpeg">
<br />
<app-navbar></app-navbar>
<mat-card>
    <div class="text">
        <h1>Madeline</h1>
        <p>
            A Computer Science major at Georgia Tech with a concentration in Media Technologies and Human-Computer
            Interaction, strong leadership and interpersonal skills, and an ability to learn and work well under
            pressure. Seeking a full time position for January 2020 that will allow me to effectively contribute my
            abilities to the organization, expand my skill set, and build my professional career.
        </p>
    </div>
</mat-card>