<img width="300" alt="Angular Logo" src="../assets/profile-pic.jpeg">
<br/>
<app-navbar></app-navbar>
<mat-card>
    <div class="text">
        <h1>Madeline</h1>
        <p>
            A third-year Computer Science major at Georgia Tech with a concentration in AI and Human-Computer Interaction, strong leadership
            and interpersonal skills, and an ability to learn and work well under pressure. Seeking an internship for Summer
            2018 that will allow her to effectively contribute my abilities to the organization, expand her skill set, and
            build her professional career.
        </p>
    </div>
</mat-card>