<app-navbar></app-navbar>
<mat-card>
  <h1>Software Projects</h1>
  <mat-card>
    <div class="text">
      <h2>TechSTAR Application Portal</h2>
      <p>
        The TechSTAR Application Portal (TAP) is a web application built to streamline the recruitment process for both
        companies and candidates. A candidate can create a profile including their resume and contact information while
        their career fair is in session, and upon completing it, recruiters can access and update that profile after or
        while speaking with the candidate at the career fair.

        Upon deciding to move forward with a set of applicants, recruiters can easily select these students from a
        candidate dashboard, create an individual "presence" for each candidate with all of the information and
        comments
        collected in their profiles, and notify the candidates of their application status with just one click. This
        saves the recruiters hours of manual information transfer and eliminates the necessity of sifting through a
        mountain of paper resumes upon a career fair's end. In addition, recruiters can create and manage multiple
        sessions of career fairs and filter through candidates by fair, Job ID, school, etc.

        TAP is written in Angular 5, developed with a node.js backend, and integrated with an internal API dedicated to
        recruitment at Ultimate Software. This project was created during an internal company-wide hackathon in just 48
        hours by a team of interns who wanted to make anxiety-inducing career fairs a far more pleasant experience for
        recruitment teams and potential interns. We are continuing to improve and maintain this application for future
        use!
      </p>
    </div>
  </mat-card>
</mat-card>